<h2>Edit Serie</h2>
<form action="/series/<%= serie.id %>?_method=PUT" method="POST">

    <%- include('_form_fields')%>
    <a href="/series">Cancel</a>
    <button type="submit">Update</button>
</form>