<header>
    <nav>
        <a href="/"> MyCIMA</a>
        <ul>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/movies/new">Add movie</a></li>
        </ul>
    </nav>
</header>