<header>
    <nav class="header-nav">
        <a class="header-title" href="/"> MyCIMA</a>
        <ul>
            <li class="header-title"><a href="/movies">Movies</a></li>
            <li class="header-title"><a href="/movies/new">Add movie</a></li>
            <li class="header-title"><a href="/series">Series</a></li>
            <li class="header-title"><a href="/series/new">Add serie</a></li>
            <li class="header-title"><a href="/authors">Authors</a></li>
            <li class="header-title"><a href="/authors/new">Add author</a></li>
        </ul>
    </nav>
</header>