<h2>Search Movies</h2>
<form action="/movies" method="GET">
<div>
<label>Title</label>
<input type="text" name="title" value="<%= searchOptions.title %> "> 
</div>
<div>
    <label>Release Date</label>
    <input type="date" name="releaseDate" value="<%= searchOptions.releaseDate %> "> 
</div>
<button type="submit">Search</button>
</form>
<br>
<div>
<% movies.forEach(movie => { %>
    <img height="200" width="150" src="<%= movie.coverImagePath %>">
<% }) %> 
</div>